#checkout-form{
   margin-top: 120px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

#payNow{
    background-color: rgb(255, 174, 0);
    width: 10%;
    margin-right: 160px;
    margin-top: 10px;
}

#PaymentEle{
    margin-right: 100px;
}
