#EplrCrsSection{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#courseList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 50px;
    overflow-y: auto;
    height: 100%;
    padding: 20px;
}


#explrCrsHeadings{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#explorePgCont{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: calc(100vh - 150px);
}

#filterList{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: sticky;
    top: 100px;
    border-radius: 20px;
    background-color: wheat;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 100px;
    box-shadow: 2px 4px 4px;
}

#mobileFilterBtn {
  display: none;
}



@media (max-width: 768px) {

  #explorePgCont {
    flex-direction: column;
    height: auto;
  }

  /* Show filter button */
  #mobileFilterBtn {
    display: block;
    margin: 16px auto;
    padding: 10px 18px;
    background-color: rgb(7, 87, 215);
    color: white;
    border: none;
    border-radius: 999px;
    font-size: 14px;
    cursor: pointer;
  }

  /* Filter moves to top */
  #filterList {
    width: 100%;
    position: static;
    margin-bottom: 20px;
  }

  /* Courses grid adjusts */
  #courseList {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
}
