#categoryCont{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#categoryCont h2{
    font-weight: bolder;
}

#categories{
    display: flex;
    gap: 2em;
}

#categories img{
    width: 80px;
}  

#categories div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 10em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 10px black;
    border-radius: 20px;
}

@media (max-width: 600px) {

  #categoryCont {
    height: auto;
    padding: 1rem 0;
  }

  #categories {
    width: 100%;
    overflow-x: auto;              
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;             
    gap: 1rem;
    padding: 1rem;
    scroll-behavior: smooth;
  }

  #categories div {
    min-width: 150px;              
    flex-shrink: 0;               
  }
  #categories::-webkit-scrollbar {
    display: none;
  }
}
