#categoryCont{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#categoryCont h2{
    font-weight: bolder;
}

#categories{
    display: flex;
    gap: 2em;
}

#categories img{
    width: 80px;
}  

#categories div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 10em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 10px black;
    border-radius: 20px;
}