#ftCourseCont{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#ftCourseCont div{
    padding: 10px;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    box-shadow: 2px 2px 10px  black;
    border-radius: 10px;
}

#ftCourseCont figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}
#ftCourseCont img{
    width: 12rem;
    border-radius: 10px;
    object-fit: cover;
}

#ftCourseCont div:hover{
    box-shadow: 8px 4px 20px  black;
}

figcaption button{
    background-color: rgb(255, 225, 0);
    border: none;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 3px 5px 10px 1px black;
}


figcaption button:hover{
    background-color: rgb(198, 177, 11);
    box-shadow: 0px 0px 10px  black;
}
.course-thumb {
    width: 140%;
    height: 130px;          
    border-radius: 10px;
    overflow: hidden;
    margin: 3px;
    margin-bottom: 10px;
}

.course-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
    display: block;
}
