nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 2px 10px black;
}

#main{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
}

#navBtnOpt{
    display: flex;
    width: 20rem;
    justify-content: space-around;
}

